html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.img1{
  opacity: 0.5;
  order: 3;
}

.startPage {
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.header{
  margin-top: 2em;
  display:flex;
  order: 1;
  margin-bottom: 1em;
}

.start {
  display:flex;
  order: 2;
  margin-bottom: 2em;
  
  color: #db3eb1;
  border: 3px solid #db3eb1;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 40px;
  font-family: 'VT323', monospace; 
  letter-spacing:4px;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(1);
  transition: .5s;
  background-color: black;
  
}

.start:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

/* https://www.lenastanley.com/2022/01/css-neon-button-neon-effect.html */



.description{
  min-height: 20vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace; 
}

.ui-level{
  font-family: 'VT323', monospace;
  font-size: 4rem;
  padding-top: 2rem;
  margin-bottom: 0em;
  color: white;
}

.ui-message{
  font-size: 2rem;
  color: white;
}


.game {
  display: flex;
  align-items: center;
  justify-content: center;

}

.level-one {
  display: none;
}

.level-two {
  display: none;
}


.level-three {
  display: none;
}




.next-2{
  opacity: 0;
    pointer-events: none;

}

.next-3{
  opacity: 0;
  pointer-events: none;
}

.jeff{
  display:none;
    flex-direction: column;
  justify-content: center;
  align-content: center;
}